doctype html
html(lang="en")
  head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
      title Website Genie
      link(rel='stylesheet', href='/css/screen.css')
      link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans')
  body
    div(class="wrapper")
      form(action="" class="predictor-form")
        img(src="/images/website-genie.png" id="genie-pic")
        p use following format 'dropsolid.com'
        input(type="text" placeholder="website to predict" name="url" id="input-predict")
        a(href="#" id="send-predict") PREDICT
      div(class="predictor-loader")
          p(class="loading") Looking into my crystal ball...
          img(src="/images/jens-head.png" id="loading-head")
      div(class="predictor-results")
        p(class="predictor-url")
        p(class="predictor-cms")
        p(class="predictor-prob")
    div(id="disclaimer")
      a(class="close-btn" href="#") x
      p DISCLAIMER: This predictor is just a test, currently only Drupal and Wordpress are implemented, so trying to predict any other website won't give any decent results.
  script(src="/js/jquery.js")
  script(src="/js/script.js")
